.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 270px;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding-top: 90px;
}

.top_board {
  width: 270px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: outset 3px rgb(66 66 66);
}

.board_container {
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  background-color: rgb(221 220 220);
  border: outset 12px rgb(252 252 252);
  position: absolute;
  padding-top: 30px;
}

.niko_button {
  width: 60px;
  height: 60px;
  background-color: black;
  border: outset 5px rgb(252 252 252);
}

.picture {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: 30px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: rgb(177 174 174);
  border: solid 0.5px rgb(91 91 91);
  justify-content: center;
  align-items: center;
  display: flex;
}

.storn {
  width: 30px;
  height: 30px;
  background-color: rgb(221 220 220);
  border: outset 3px rgb(252 252 252);
  justify-content: center;
  align-items: center;
  display: flex;
}
