.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 270px;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
}

.boardcontainer {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: rgb(221 220 220);
  border: outset 12px rgb(252 252 252);
  position: absolute;
}

.nikobutton {
  width: 50px;
  height: 50px;
  background-color: rgb(193 190 190);
  border: outset 5px rgb(252 252 252);
  justify-content: center;
  align-items: center;
  display: flex;
}

.picture {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: 30px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: rgb(177 174 174);
  border: solid 0.5px rgb(91 91 91);
  justify-content: center;
  align-items: center;
  display: flex;
}

.storn {
  width: 30px;
  height: 30px;
  background-color: rgb(221 220 220);
  border: outset 3px rgb(252 252 252);
  justify-content: center;
  align-items: center;
  display: flex;
}
