.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 270px;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
}

.boardaround {
  width: 286px;
  height: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: inset 8px rgb(209 209 209);
}

.boardcontainer {
  width: 331px;
  height: 431px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  background-color: rgb(221 220 220);
  border: outset 8px rgb(201 200 200);
  position: absolute;
}

.topcontainer {
  width: 286px;
  height: 90px;
  background-color: rgb(229 224 224);
  border: inset 8px rgb(207 206 206);
  display: flex;
  justify-content: center;
}

.nikobutton {
  width: 50px;
  height: 50px;
  background-color: rgb(193 190 190);
  border: outset 5px rgb(252 252 252);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 32px;
}

.timecontainer {
  width: 80px;
  height: 50px;
  background-color: rgb(57 57 57);
  border: inset 3px rgb(176 175 175);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 32px;
  right: 30px;
  font-size: 40px;
  color: #ed0808d7;
  font-weight: 700;
}

.flagcountcontainer {
  width: 80px;
  height: 50px;
  background-color: rgb(57 57 57);
  border: inset 3px rgb(176 175 175);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 32px;
  left: 30px;
  font-size: 40px;
  color: #ed0808d7;
  font-weight: 700;
}

.picture {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: 30px;
}

.cell {
  width: 30px;
  height: 30px;
  border: solid 0.5px rgb(91 91 91);
  justify-content: center;
  align-items: center;
  display: flex;
}

.stone {
  width: 30px;
  height: 30px;
  background-color: rgb(201 200 200);
  border: outset 3px rgb(252 252 252);
  justify-content: center;
  align-items: center;
  display: flex;
}

.stone > .picture {
  width: 24px;
  height: 24px;
  background-size: 1400%;
  background-repeat: repeat;
}
